CMakeLists.txt
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json
out/
.vs/
logs/
CMakeFiles/
Makefile
Debug/
out/
x64/
*.pc
*.pdb
thirdparty/glew/glew.pc
*.ilk
build/imgui.ini
*.cmake
*.vpc_crc
*.vcxproj
*.vcxproj.*
*.sln
core/build/
core/.idea
core/cmake-build-debug
core/CMakeLists.txt
compile_commands.json
launch.json
build/gayEngine.exe
